@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  box-sizing: border-box;
}
html,
body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  background-color: #202020;
  text-align: center;
  overflow-y: hidden;
}
.logo {
    height: 10em;
  }
.heading{
    color: #ffffff;
}
.yo{
    padding-top: 60px;
}
.link{
    text-align: center;
    color: #ffffff;
    font-size: 42px;
    padding: 0px 20px;
}

@media only screen and (max-width: 560px) {
    .link{
      font-size: 30px;
      padding: 0 15px;
    }
    .logo {
        height: 8em;
        text-align: center;
      }
      .heading{
          font-size: 24px;
      }
  }
